  
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      font-size: 16px;
      line-height: 30px;
      color: $default;
      @extend %dmsans-500;
  }

  .main {
    flex-grow: 1;
  }

  .container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  a {
    font-size: 14px;
    line-height: 24px;
    color: $link-color;
  }

  .arrow {
    display: inline-block;
    height: 2px;
    width: 22px;
    background: #fff;
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left-color: #fff;
        right: -10px;
        top: -4px;
    }
}

.title {
  font-size: 36px;
  line-height: 48px;
  @extend %dmsans-700;
  color: $title;
  text-align: center;
  margin-bottom: 25px; //все отступы вниз одинаковые будут
}

.partners {
  padding: 60px 0;
  background-color: #fef7f0;
  &__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
  }
}