$accent: #fcd7b6;
$default: #243f4d;
$link-color: #7b7b7b;
$footer-title: #1f2044;
$title: #191919;
$filter-btn: #8b8b8b;

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%rubick-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubick-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}
%rubick-300 {
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}

%nunito-700 {
    font-family: 'Nunito-Bold', sans-serif;
    font-weight: 700;
}

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}





